absl-py==2.0.0
accelerate==0.24.1
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
altair==5.2.0
anaconda-client==1.9.0
anaconda-navigator==2.1.4
anaconda-project==0.10.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==3.5.0
appdirs==1.4.4
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
arrow==1.2.2
astroid==2.6.6
astropy==5.0.4
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.1
atomicwrites==1.4.0
attrs==21.4.0
automat==20.2.0
autopep8==1.6.0
babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.2.0
beautifulsoup4==4.11.1
binaryornot==0.4.4
bitarray==2.4.1
bitsandbytes==0.41.2.post1
bkcharts==0.2
black==19.10b0
bleach==4.1.0
blinker==1.7.0
blis==0.7.11
bokeh==2.4.2
boto3==1.21.32
botocore==1.24.32
bottleneck==1.3.4
brotlipy==0.7.0
cachetools==4.2.2
catalogue==2.0.10
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.4
cloudpickle==2.0.0
clyent==1.2.2
cmake==3.27.7
colorama==0.4.4
colorcet==2.0.6
conda-build==3.21.8
conda-content-trust==0+unknown
conda-pack==0.6.0
conda-package-handling==1.8.1
conda-repo-cli==1.0.4
conda-token==0.3.0
conda-verify==3.4.2
conda==4.12.0
confection==0.1.4
constantly==15.1.0
cookiecutter==1.7.3
cryptography==41.0.7
cssselect==1.1.0
cycler==0.11.0
cymem==2.0.8
cython==0.29.28
cytoolz==0.11.0
daal4py==2021.5.0
dask==2022.2.1
databricks-sdk==0.12.0
datasets==2.14.6
datashader==0.13.0
datashape==0.5.4
debugpy==1.5.1
decorator==5.1.1
deepspeed==0.12.3+136fe337
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.4
distributed==2022.2.1
distro==1.8.0
docker-pycreds==0.4.0
docstring-parser==0.15
docutils==0.17.1
einops==0.7.0
entrypoints==0.4
et-xmlfile==1.1.0
evaluate==0.4.1
executing==0.8.3
extra-streamlit-components==0.1.60
fastjsonschema==2.15.1
filelock==3.6.0
flake8==3.9.2
flask==1.1.2
flatbuffers==23.5.26
fonttools==4.25.0
frozenlist==1.2.0
fsspec==2023.3.0
future==0.18.2
gast==0.5.4
gdown==4.7.1
gensim==4.1.2
gitdb==4.0.11
gitpython==3.1.40
glob2==0.7
gmpy2==2.1.2
google-api-core==1.25.1
google-auth-oauthlib==1.1.0
google-auth==2.25.1
google-cloud-core==1.7.1
google-cloud-storage==1.31.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.3.1
googleapis-common-protos==1.53.0
greenlet==1.1.1
grpcio==1.60.0
h5py==3.6.0
heapdict==1.0.1
hjson==3.1.0
holoviews==1.14.8
huggingface-hub==0.17.3
hvplot==0.7.3
hyperlink==21.0.0
idna==3.3
imagecodecs==2021.8.26
imageio==2.9.0
imagesize==1.3.0
importlib-metadata==4.11.3
importlib-resources==6.1.1
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
intake==0.6.5
intervaltree==3.1.0
ipykernel==6.9.1
ipython-genutils==0.2.0
ipython==8.2.0
ipywidgets==7.6.5
isort==5.9.3
itemadapter==0.3.0
itemloaders==1.0.4
itsdangerous==2.0.1
jdcal==1.4.1
jedi==0.18.1
jeepney==0.7.1
jieba==0.42.1
jinja2-time==0.2.0
jinja2==2.11.3
jmespath==0.10.0
joblib==1.1.0
json5==0.9.6
jsonargparse==4.27.1
jsonlines==4.0.0
jsonschema==4.4.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.9.2
jupyter-server==1.13.5
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.0
jupyterlab==3.3.2
keras==2.15.0
keyring==23.4.0
kiwisolver==1.3.2
langcodes==3.3.0
lazy-object-proxy==1.6.0
libarchive-c==2.9
libclang==16.0.6
lit==17.0.4
llvmlite==0.38.0
locket==0.2.1
lxml==4.8.0
markdown-it-py==3.0.0
markdown==3.3.4
markupsafe==2.0.1
matplotlib-inline==0.1.2
matplotlib==3.5.1
mccabe==0.6.1
mdurl==0.1.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
ml-dtypes==0.2.0
mock==4.0.3
mpmath==1.2.1
msgpack==1.0.2
multidict==5.2.0
multipledispatch==0.6.0
multiprocess==0.70.12
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic==0.3.5
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.7.1
ninja==1.11.1.1
nltk==3.7
nose==1.3.7
notebook==6.4.8
numba==0.55.1
numexpr==2.8.1
numpy==1.26.2
numpydoc==1.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.52
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==2.0.0
pandocfilters==1.5.0
panel==0.13.0
param==1.12.0
parsel==1.6.0
parso==0.8.3
partd==1.2.0
pathspec==0.7.0
pathy==0.10.3
patsy==0.5.2
pdfminer.six==20221105
pdftotree==0.5.0
peft==0.6.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.1.0
pip==21.2.4
pkginfo==1.8.2
plotly==5.6.0
pluggy==1.0.0
portalocker==2.8.2
poyo==0.5.0
preshed==3.0.9
prometheus-client==0.13.1
prompt-toolkit==3.0.20
protego==0.1.16
protobuf==4.23.4
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py==1.11.0
pyarrow==14.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybind11==2.11.1
pycodestyle==2.7.0
pycosat==0.6.3
pycountry==23.12.11
pycparser==2.21
pyct==0.4.6
pycurl==7.44.1
pydantic-core==2.10.1
pydantic==1.10.13
pydeck==0.8.1b0
pydispatcher==2.0.5
pydocstyle==6.1.1
pyerfa==2.0.0
pyflakes==2.3.1
pygments==2.16.1
pyhamcrest==2.0.2
pyjwt==2.4.0
pylint==2.9.6
pyls-spyder==0.4.0
pynvml==11.5.0
pyodbc==4.0.32
pyopenssl==23.3.0
pyparsing==3.0.4
pypdfium2==4.25.0
pyrsistent==0.18.0
pysocks==1.7.1
pytest==7.1.1
python-dateutil==2.8.2
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
python-snappy==0.6.0
pytz==2021.3
pyviz-comms==2.0.2
pywavelets==1.3.0
pyxdg==0.27
pyyaml==6.0
pyzmq==22.3.0
qdarkstyle==3.0.2
qstylizer==0.1.10
qtawesome==1.0.3
qtconsole==5.3.0
qtpy==2.0.1
queuelib==1.5.0
regex==2022.3.15
requests-file==1.5.1
requests-oauthlib==1.3.1
requests==2.29.0
responses==0.18.0
rich==13.6.0
rope==0.22.0
rouge-score==0.1.2
rsa==4.7.2
rtree==0.9.7
ruamel-yaml-conda==0.15.100
s3transfer==0.5.0
sacrebleu==2.4.0
safetensors==0.4.0
scikit-image==0.19.2
scikit-learn-intelex==2021.20220215.212715
scikit-learn==1.0.2
scipy==1.11.4
scrapy==2.6.1
seaborn==0.11.2
secretstorage==3.3.1
selectivesearch==0.4
send2trash==1.8.0
sentencepiece==0.1.99
sentry-sdk==1.34.0
service-identity==18.1.0
setproctitle==1.3.3
setuptools==61.2.0
shtab==1.6.4
sip==4.19.13
six==1.16.0
sklearn==0.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcollections==2.1.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy==3.5.0
sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder-kernels==2.1.3
spyder==5.1.5
sqlalchemy==1.4.32
sqlitedict==2.1.0
srsly==2.4.8
stack-data==0.2.0
statsmodels==0.13.2
streamlit-authenticator==0.2.3
streamlit==1.28.2
sympy==1.10.1
tables==3.6.1
tabula-py==2.9.0
tabulate==0.8.9
tbb==0.2
tblib==1.7.0
tenacity==8.2.3
tensorboard-data-server==0.7.2
tensorboard==2.15.1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow==2.15.0.post1
termcolor==2.4.0
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.1
thinc==8.1.12
threadpoolctl==2.2.0
three-merge==0.1.1
tifffile==2021.7.2
tiktoken==0.5.1
tinycss==0.4
tldextract==3.2.0
tokenizers==0.14.1
toml==0.10.2
tomli==1.2.2
toolz==0.11.2
torch==2.0.1
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
transformers==4.35.0
triton==2.0.0
trl==0.7.4
twisted==22.2.0
typed-ast==1.4.3
typer==0.7.0
typeshed-client==2.4.0
typing-extensions==4.8.0
tyro==0.5.12
tzdata==2023.3
tzlocal==5.2
ujson==5.1.0
unidecode==1.2.0
urllib3==1.26.18
validators==0.22.0
w3lib==1.21.0
wand==0.6.13
wandb==0.16.0
wasabi==1.1.2
watchdog==2.1.6
wcwidth==0.2.12
webencodings==0.5.1
websocket-client==0.58.0
werkzeug==2.0.3
wget==3.2
wheel==0.37.1
widgetsnbextension==3.5.2
wrapt==1.12.1
wurlitzer==3.0.2
xarray==0.20.1
xformers==0.0.22
xlrd==2.0.1
xlsxwriter==3.0.3
xxhash==3.4.1
yapf==0.31.0
yarl==1.6.3
zict==2.0.0
zipp==3.7.0
zope.interface==5.4.0
zstandard==0.22.0